<!DOCTYPE html>
<html>
	<head>
		<meta name="google-signin-client_id" content="1077355752509-tke5rmc8v4bpatdupmd9q4rbi536d1al.apps.googleusercontent.com">
	</head>
	<body ng-app="tool">  

		<div id="man" ng-controller="loginController">
			<div ng-show="isLoggedIn()">
				<!--button ng-click="signOut()" type="submit">Sign out</button-->
				<!--여기다가 새주소체크해서 어쩌고하고 아니면 캘린더하세요-->
			</div>

			<div id="signin" ng-hide="isLoggedIn()"></div>
		</div>
		<script>
            function onSuccess(googleUser) {
            	var profile = googleUser.getBasicProfile();
				console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
				console.log('Name: ' + profile.getName());
				console.log('Email: ' + profile.getEmail());
				angular.element(document.getElementById("man")).scope().callfun(profile.getName(),profile.getEmail());
            }
            function onFailure(error) {
              console.log(error);
            }

            function renderButton() {
              gapi.signin2.render('signin', {
                'scope': 'https://www.googleapis.com/auth/plus.login',
                'width': 200,
                'height': 50,
                'longtitle': true,
                'theme': 'dark',
                'onsuccess': onSuccess,
                'onfailure': onFailure
              });
          	}
		 </script>
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		<script src="https:/ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-cookies.js"></script>
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
		<script src="javascripts/handler.js"></script>
	</body>
</html>