<div ng-controller="ScheduleController">
  {{user}}<br>
      <ul>
        <li ng-repeat="schedule in schedules">
          {{schedule.name}}
          <button ng-show="!editing[$index]" ng-click="">Join</button>
          <button ng-show="!editing[$index]" ng-click="">Reset</button>
          <button ng-show="!editing[$index]" ng-click="edit($index)">edit</button>
          <button ng-show="!editing[$index]" ng-click="remove($index)">remove</button>

          <input ng-show="editing[$index]" type="text" ng-model="schedule.name">
          <button ng-show="editing[$index]" ng-click="update($index)">update</button>
          <button ng-show="editing[$index]" ng-click="cancel($index)">cancel</button>
        </li>
      </ul>
      New Schedules <input type="text" ng-model="newSchedule"><button ng-click="save()">Create</button>
</div>

