<br />
<br />
<hr style="width: 100%; color: black; height: 1px; background-color:black;" />

<div ng-controller="ScheduleController">
  <strong>Name: </strong>{{user}}<br>
      <ul>
        <li ng-repeat="schedule in schedules">
          {{schedule.name}}
          <button ng-click="finalize($index)" class="btn btn-primary">Finalize</button>
          <button ng-show="!editing[$index]" ng-click="join($index)" class="btn btn-primary">Join</button>
          <button ng-show="!editing[$index]" ng-click="" class="btn btn-default">Reset</button>

          <button ng-show="!editing[$index]" ng-hide="!adminLoggedIn()" ng-click="edit($index)">edit</button>
          <button ng-show="!editing[$index]" ng-hide="!adminLoggedIn()" ng-click="remove($index)">remove</button>

          <input ng-show="editing[$index]" type="text" ng-model="schedule.name">
          <button ng-show="editing[$index]" ng-hide="!adminLoggedIn()" ng-click="update($index)">update</button>
          <button ng-show="editing[$index]" ng-hide="!adminLoggedIn()" ng-click="cancel($index)">cancel</button>
        </li>
      </ul>
    <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">Add New Schedule</button>
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;  </button>
            <h4 class="modal-title">New Schedule (새로운 스케줄)</h4>
          </div>

          <div class="modal-body">
            Title: <input type="text" ng-model="newSchedule" size="35"> <br />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="save()" data-dismiss="modal">Create</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>

<!--div ng-show="adminLoggedIn()" ng-controller="adminController">
  riders
  pick-up loations  ng-hide="!adminLoggedIn()"
</div-->