<br />
<br />
<hr style="width: 100%; color: black; height: 1px; background-color:black;" />
<script>
$('#addRideModal').on('show.bs.modal', function(e) {
    //get data-id attribute of the clicked element
    var indexId = $(e.relatedTarget).data('index-id');
    $('#addRideIndexValue').val(indexId);
});
</script>
<div ng-controller="ScheduleController">
  <div class="jumbotron" ng-hide="adminLoggedIn()">
    <p>Name: {{currentUser.name}} <br />Current Address: {{currentUser.address}} 
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal">Edit</button></p>
  </div>
    <button ng-show="adminLoggedIn()" type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">Add New Schedule</button>
    <button type="button" class="btn btn-secondary btn-lg" ng-click="viewAll()">View All Schedules</button>
    <p>View last assigned ride: <a href="/#/ride/{{lastSchedule._id}}">{{lastDate}}</a></p>
    <p>View latest date assigned ride: <a href="/#/ride/{{latestSchedule._id}}">{{latestDate}}</a></p>
      <ul class="listOfSchedule">
        <li class="listSchedule" ng-repeat="schedule in schedules" ng-init="parentIndex = $index">
          <h3 ng-show="!editing[$index]" >{{schedule.month}}/{{schedule.day}}/{{schedule.year}} {{schedule.name}}</h3>
          <p ng-show="!editing[$index]">Note: {{schedule.note}} 
            <button ng-show="!editing[$index]" ng-hide="schedule.complete||!adminLoggedIn()" ng-click="edit($index)">edit</button>
            <button ng-show="!editing[$index]" ng-hide="!adminLoggedIn()" ng-click="remove($index)">remove</button>
          </p>

          <input ng-show="editing[$index]" type="text" ng-model="schedule.name">
          <input ng-show="editing[$index]" type="date" ng-model="schedule.newDate">
          <input ng-show="editing[$index]" type="text" ng-model="schedule.note">
          <button ng-show="editing[$index]&&adminLoggedIn()" ng-click="update($index)">update</button>
          <button ng-show="editing[$index]&&adminLoggedIn()" ng-click="cancel($index)">cancel</button></p>

          <p># of Participants: {{schedule.total}}</p>
          <p>Riders: {{schedule.riderString}}
            <ul class="listOfRider">
              <li ng-repeat="ride in schedule.rider">
                <span ng-show="!editRide[$parent.$index][$index]">{{ride.name}} - {{ride.loc}}({{ride.max}})</span>

                <input ng-show="editRide[$parent.$index][$index]" type="text" ng-model="ride.name">
                <input ng-show="editRide[$parent.$index][$index]" type="text" ng-model="ride.max">
                <select ng-show="editRide[$parent.$index][$index]" ng-model="ride.loc">
                  <option value="eb">East Bank</option>
                  <option value="wb">West Bank</option>
                  <option value="dt">Dinky Town</option>
                </select>
                <button ng-show="!editRide[$parent.$index][$index]&&adminLoggedIn()" type="button" ng-click="editRide($parent.$index,$index)"> edit </button>
                <button ng-show="!editRide[$parent.$index][$index]&&adminLoggedIn()" type="button" ng-click="removeRide($parent.$index,$index)"> delete </button>
                <button ng-show="editRide[$parent.$index][$index]&&adminLoggedIn()" ng-click="updateRide($parent.$index,$index)">update</button>
                <button ng-show="editRide[$parent.$index][$index]&&adminLoggedIn()" ng-click="cancelRide($parent.$index,$index)">cancel</button>
              </li>
            </ul>
            <button type="button" class="btn btn-default" data-toggle="modal" data-index-id={{parentIndex}} data-target="#addRideModal" ng-hide="!adminLoggedIn()">Add a Rider </button>
          </p>
          <button ng-hide="adminLoggedIn()||schedule.complete" ng-click="join($index)" class="btn btn-primary" ng-disabled="schedule.attending">Join</button>
          <button ng-hide="adminLoggedIn()||schedule.complete" ng-click="reset($index)" class="btn btn-default" ng-disabled="!schedule.attending">Reset</button>
          <button ng-hide="schedule.complete||!adminLoggedIn()" ng-click="finalize($index)" class="btn btn-primary">Finalize</button>
          <button ng-click="view($index)" ng-hide="!schedule.complete" class="btn btn-primary" ng-show="schedule.complete">View ride </button>
        </li>
      </ul>
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;  </button>
            <h4 class="modal-title">New Schedule (새로운 스케줄)</h4>
          </div>

          <div class="modal-body">
            <table>
              <tr>
                <td>Title: </td>
                <td><input type="text" ng-model="newTitle" size="35"></td>
              </tr>
              <tr>
                <td>When:
                </td>
                <td><input type="date" ng-model="newDate" name="datePick">
                </td>
              </tr>
              <tr>
                <td>Note:
                </td>
                <td>
                  <input type="text" ng-model="newNote" size="40">
                </td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="save()" data-dismiss="modal">Create</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
     <div class="modal fade" id="editModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;  </button>
            <h4 class="modal-title">Edit Address</h4>
          </div>

          <div class="modal-body">
            Please type in full exact address! <br/><input type="text" ng-model="newAddress" size="50"> <br />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="infoSave()" data-dismiss="modal">Create</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

     <div class="modal fade" id="addRideModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;  </button>
            <h4 class="modal-title">Assign a rider</h4>
          </div>

          <div class="modal-body">
            <h4>
              Input the basic information down below.
            </h4>
            <table>
              <!-- <tr>
                <td> email:
                </td>
                <td>
            <input type="text" ng-model="rideEmail" size="20">
                </td>
              </tr>
              <tr>
                <td>
                  or
                </td>
              </tr> -->
              <tr>
                <td>Name:
                </td>
                <td> <input type="text" ng-model="newRide">
                </td>
              </tr>
              <tr>
                <td>
                  Capacity;
                </td>
                <td>
                  <input type="text" ng-model="newCapacity">
                </td>
              </tr>
              <tr>
                <td>Location:
                </td>
                <td>
                  <select ng-model="newLoc">
                    <option value="eb">East Bank</option>
                    <option value="wb">West Bank</option>
                    <option value="dt">Dinky Town</option>
                  </select>
                </td>
              </tr>
            </table>
            <input type="hidden" id="addRideIndexValue" value="">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="saveRider()" data-dismiss="modal">Add</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>
